In [129]:
%matplotlib inline
import pandas as pd
import numpy as np
from datetime import datetime

In [130]:
#############################################
# PANDAS HELPERS
#############################################

def remove_column_from_data_frame(col_to_remove, data_frame):

    if col_to_remove in list(data_frame.columns):
        data_frame.drop(col_to_remove, axis=1, inplace=True)

        
def remove_columns_from_data_frame(cols_to_remove, data_frame):

    column_dict = {x: None for x in list(data_frame.columns)}

    cols_to_remove = [x for x in cols_to_remove if x in column_dict]

    data_frame.drop(labels=cols_to_remove, axis=1, inplace=True)
    

def remove_columns_like(column_pattern, data_frame):
    
    for column in list(data_frame.columns):
        if column_pattern in column:
            data_frame.drop(column, axis=1, inplace=True)


def fill_nas(value, data_frame):
    
    data_frame.fillna(0, inplace=True)

In [131]:
#############################################
# DATA RETRIEVAL HELPERS
#############################################

def get_data(n_rows=None):

    if n_rows is not None:
        df = pd.read_csv('final_feats_without_dummies_2.csv', low_memory=False, nrows=n_rows)
        df_y = pd.read_csv('final_outs_2.csv', low_memory=False, nrows=n_rows)
    else:
        df = pd.read_csv('final_feats_without_dummies_2.csv', low_memory=False)
        df_y = pd.read_csv('final_outs_2.csv', low_memory=False)
    
    
    # Drop labels and a redundant column
    remove_columns_from_data_frame(['Unnamed: 0', 'Unnamed: 0.1' 'dissent', 'dissentdummy'], df)
    
    
    return df, df_y


def get_x_y(n_rows=None):
    
    df, df_y = get_data(n_rows)

    #fill_nas(0, df)
    
    return df.values, df_y.ix[:,1].values


def get_columns(df):
    
    #df = pd.read_csv('final_feats_without_dummies_2.csv', low_memory=False, nrows=2)
    return list(df.columns)


def print_report(y, y_pred):

    print classification_report(y, y_pred)

In [132]:
def drop_unneeded_cols(df):
    del_cols = ['fileid','cite','vol','beginpg','endopin','endpage','docnum','priorpub','_merge','year',
            'circuit','pseatno','decision_date','aatty_first_name','aatty_last_name','afirm_name',
            'ratty_first_name','ratty_last_name','rname_of_first_listed_amicus_gro','rfirm_namew','decisiondatenew2',
           'j1name','j2name','j3name','quartertoelect','pname','seatno','success','lsuc','ls1','ls2','ls3','lp',
            'lp2','lp3','sseatno','congress','congreso','afirst_listed_amicus_group','yearquarter','name','Name','State','j',
            'codej4','j4vote1','j4vote2','j4maj1','j4maj2','codej5','j5vote1','j5vote2','j5maj1','j5maj2',
            'codej6','j6vote1','j6vote2','j6maj1','j6maj2','codej7','j7vote1','j7vote2','j7maj1','j7maj2',
            'codej8','j8vote1','j8vote2','j8maj1','j8maj2','codej9','j9vote1','j9vote2','j9maj1','j9maj2',
            'codej10','j10vote1','j10vote2','j10maj1','j10maj2','codej11','j11vote1','j11vote2','j11maj1','j11maj2',
            'codej12','j12vote1','j12vote2','j12maj1','j12maj2','codej13','j13vote1','j13vote2','j13maj1','j13maj2',
            'codej14','j14vote1','j14vote2','j14maj1','j14maj2','codej15','j15vote1','j15vote2','j15maj1','j15maj2','j16maj1','j16vote1']
    df.drop(labels=del_cols,axis=1,inplace=True)
    moredropcolumns=df.columns.tolist() # .tolist?
    for i in moredropcolumns:
        if len(pd.unique(df[i]))==1:
            df.drop(labels=i,axis=1,inplace=True)
    df.drop(labels=['casenum','j2vote1','j2vote2','j2maj1','direct1',
                          'j2maj2','j3vote1','j3vote2','j3maj1','j3maj2','majvotes','ids'],axis=1,inplace=True)
    return df
    
def dummify(df):
    new_cols=df.columns
    new_cols=new_cols.tolist()
    keep_cols=['j1score','j2score','j3score','popularpct','electoralpct','closerd','fartherd','dAds3','dF2Ads3',
           'dF1Ads3','dL1Ads3','dL2Ads3','dL3Ads3','dL4Ads3','dL5Ads3','logAds3','logL1Ads3','logL2Ads3','logF1Ads3',
          'logF2Ads3','decade2','propneg','likely_elev2','score','d12','d13','d23']
    for col in keep_cols:
        if col in new_cols:
            new_cols.remove(col)
    df2=pd.get_dummies(df,columns=new_cols,dummy_na=True,sparse=False)
    df2=df2.fillna(value=0)
    return df2

def remove_bad_rows(df):
    
    #remove rows where codej1==codej2
#     df[df.codej1==df.codej2].index
    same_cols = df[df.codej1==df.codej2].index
    df=df.drop(same_cols).reset_index(drop=True)
    
    #remove rows where >3 judges occur
#     pp = pd.read_csv('../raw/Votelevel_stuffjan2013.csv')
#     qq=pp.groupby(by=['casenum']).count()
#     pd.unique(qq.month)
#     rr=qq[qq.month==6].reset_index()
#     rr.shape
    
    #remove rows where codej2==null
    #df[map(lambda x: not(x),pd.notnull(df.ix[:]["codej2"]).tolist())]
    nan_cols=df[map(lambda x: not(x),pd.notnull(df.ix[:]["codej2"]).tolist())].index
    nan_cols.append(df[map(lambda x: not(x),pd.notnull(df.ix[:]["codej1"]).tolist())].index)
    df=df.drop(nan_cols).reset_index(drop=True)
    
    return df

### Feat 1: If sat together previously

In [133]:
df_x, df_y = get_data()

In [157]:
def ret_datetime(yr,month,date):
    from datetime import datetime
    return datetime(int(yr),int(month),int(date))

def return_sat_together_count(df):
    """
    Arguments:
    df: dataframe of judge frames
    Returns: None.
    Appends column with sat_together_count feature.
    """
    ###assumes df.time, df.month, df.day present
    df['datetime'] = df.apply(lambda row: ret_datetime(row['year'], row['month'], row['day']), axis=1)
    df['sat_together_count']=0
    #df['judge_pairs']=df.apply(lambda row: tuple([row['codej1'],row['codej2']]),axis=1)
    df['judge_pairs']=pd.Series(zip(df.codej1.values,df.codej2.values))
    for ind,pair in enumerate(df.judge_pairs):
        templist=[]
        for ind2,pair2 in enumerate(df.judge_pairs):
            if set(pair)==set(pair2):
                if df.ix[ind2,'datetime']<df.ix[ind,'datetime']:
                    templist.append(df.ix[ind2,'datetime'])
        df.ix[ind,'sat_together_count']=len(set(templist)) #df.ix[ind,'sat_together_count']+1
    df.drop(labels=['judge_pairs','datetime'],axis=1,inplace=True)
    return df

In [135]:
df2=df_x.select(lambda x: x=='year' or x=='day' or x=='month' or x=='codej1' or x=='codej2' or x=='casenum',axis=1)

In [136]:
df2.head()

   casenum  codej1  codej2  day  month  year
0    12954   10358     305   10     11  1939
1    12954   10358     307   10     11  1939
2    12954     305     307   10     11  1939
3    12954     305   10358   10     11  1939
4    12954     307     305   10     11  1939

In [81]:
df2['datetime'] = df2.apply(lambda row: ret_datetime(row['year'], row['month'], row['day']), axis=1)

In [137]:
df2['judge_pairs']=pd.Series(zip(df2.codej1.values,df2.codej2.values))

In [138]:
llist=list(set(df2.judge_pairs))

In [142]:
llist[0][0]

540.0

In [119]:
df3=df2.query('(codej1=='+str(llist[0][0])+'and codej2==553) or (codej1==553 and codej2==540)')

In [123]:
(df3.datetime)

59427   1969-12-22
59429   1969-12-22
61077   1975-05-01
61079   1975-05-01
61741   1969-02-03
61744   1969-02-03
61776   1971-06-03
61780   1971-06-03
61788   1978-02-06
61791   1978-02-06
62003   1972-03-08
62006   1972-03-08
62008   1971-06-25
62012   1971-06-25
62050   1972-01-31
62054   1972-01-31
62122   1970-09-22
62126   1970-09-22
62146   1971-11-18
62150   1971-11-18
62200   1972-02-28
62204   1972-02-28
62248   1971-01-05
62253   1971-01-05
62255   1970-05-13
62258   1970-05-13
62537   1970-08-18
62540   1970-08-18
62741   1970-01-08
62744   1970-01-08
62770   1971-11-08
62775   1971-11-08
62825   1972-01-03
62829   1972-01-03
62884   1972-01-31
62888   1972-01-31
62926   1973-02-14
62928   1973-02-14
Name: datetime, dtype: datetime64[ns]

In [128]:
df3.datetime

59427   1969-12-22
59429   1969-12-22
61077   1975-05-01
61079   1975-05-01
61741   1969-02-03
61744   1969-02-03
61776   1971-06-03
61780   1971-06-03
61788   1978-02-06
61791   1978-02-06
62003   1972-03-08
62006   1972-03-08
62008   1971-06-25
62012   1971-06-25
62050   1972-01-31
62054   1972-01-31
62122   1970-09-22
62126   1970-09-22
62146   1971-11-18
62150   1971-11-18
62200   1972-02-28
62204   1972-02-28
62248   1971-01-05
62253   1971-01-05
62255   1970-05-13
62258   1970-05-13
62537   1970-08-18
62540   1970-08-18
62741   1970-01-08
62744   1970-01-08
62770   1971-11-08
62775   1971-11-08
62825   1972-01-03
62829   1972-01-03
62884   1972-01-31
62888   1972-01-31
62926   1973-02-14
62928   1973-02-14
Name: datetime, dtype: datetime64[ns]

In [127]:
df3.query('datetime==1969-12-22')

ValueError: unkown type object

In [89]:
for x in llist[:1]:
    temp=df2.query('(codej1=='+str(x[0])+'and codej2=='+str(x[1])+') or (codej1=='+str(x[1])+' and codej2=='+str(x[0])+')')
    #temp=df2.query('set([codej1,codej2])==x') #slice
    templist=list(set(temp.judge_pairs))
    for temper in templist:
        temp2=temp.query('datetime=='+str(temper))
    s_ind=np.argsort(df2.datetime.values) #sorted index
    for

,casenum,codej1,codej2,day,month,year,datetime,sat_together_count,judge_pairs
0,12954,10358,305,10,11,1939,1939-11-10,0,"(10358.0, 305.0)"
1,12954,10358,307,10,11,1939,1939-11-10,0,"(10358.0, 307.0)"
2,12954,305,307,10,11,1939,1939-11-10,10,"(305.0, 307.0)"
3,12954,305,10358,10,11,1939,1939-11-10,0,"(305.0, 10358.0)"
4,12954,307,305,10,11,1939,1939-11-10,10,"(307.0, 305.0)"

In [143]:
df2.head(10)

   casenum  codej1  codej2  day  month  year       judge_pairs
0    12954   10358     305   10     11  1939  (10358.0, 305.0)
1    12954   10358     307   10     11  1939  (10358.0, 307.0)
2    12954     305     307   10     11  1939    (305.0, 307.0)
3    12954     305   10358   10     11  1939  (305.0, 10358.0)
4    12954     307     305   10     11  1939    (307.0, 305.0)
5    12954     307   10358   10     11  1939  (307.0, 10358.0)
6    14244   10140     103   23     12  1931  (10140.0, 103.0)
7    14244   10140     116   23     12  1931  (10140.0, 116.0)
8    14244     116     103   23     12  1931    (116.0, 103.0)
9    14244     116   10140   23     12  1931  (116.0, 10140.0)

In [95]:
np.argsort(df2.datetime[:10].values)

array([6, 7, 8, 9, 0, 1, 2, 3, 4, 5])

In [92]:
sorted(df2.datetime[:10].values)

[numpy.datetime64('1931-12-23T00:00:00.000000000Z'),
 numpy.datetime64('1931-12-23T00:00:00.000000000Z'),
 numpy.datetime64('1931-12-23T00:00:00.000000000Z'),
 numpy.datetime64('1931-12-23T00:00:00.000000000Z'),
 numpy.datetime64('1939-11-10T00:00:00.000000000Z'),
 numpy.datetime64('1939-11-10T00:00:00.000000000Z'),
 numpy.datetime64('1939-11-10T00:00:00.000000000Z'),
 numpy.datetime64('1939-11-10T00:00:00.000000000Z'),
 numpy.datetime64('1939-11-10T00:00:00.000000000Z'),
 numpy.datetime64('1939-11-10T00:00:00.000000000Z')]

In [ ]:

def rec_return_sat_together_count(df):
    """
    Arguments:
    df: dataframe of judge frames
    Returns: None.
    Appends column with sat_together_count feature.
    """
    ###assumes df.time, df.month, df.day present
    df['datetime'] = df.apply(lambda row: ret_datetime(row['year'], row['month'], row['day']), axis=1)
    df['sat_together_count']=0
    #df['judge_pairs']=df.apply(lambda row: tuple([row['codej1'],row['codej2']]),axis=1)
    df['judge_pairs']=pd.Series(zip(df.codej1.values,df.codej2.values))
    llist=set(df.judge_pairs)
    for x in llist:
        temp=df.query('set([codej1,codej2])==x')
        np.argsort(df2.datetime[:10].values)
    
    
    for ind,pair in enumerate(df.judge_pairs):
        for ind2,pair2 in enumerate(df.judge_pairs):
            if set(pair)==set(pair2):
                if df.ix[ind2,'datetime']<df.ix[ind,'datetime']:
                    df.ix[ind,'sat_together_count']=df.ix[ind,'sat_together_count']+1
    df.drop(labels=['judge_pairs','datetime'],axis=1,inplace=True)
    return df

In [80]:
df2=return_sat_together_count(df2)

KeyboardInterrupt:

In [ ]:
df_x['sat_together_count']=df2['sat_together_count']

In [149]:
llist

[(540.0, 553.0),
 (104.0, 115.0),
 (1210.0, 110.0),
 (733.0, 708.0),
 (10287.0, 236.0),
 (1009.0, 11013.0),
 (502.0, 11180.0),
 (619.0, 10690.0),
 (714.0, 726.0),
 (513.0, 513.0),
 (933.0, 904.0),
 (515.0, 1103.0),
 (952.0, 20988.0),
 (555.0, 20521.0),
 (20977.0, 926.0),
 (1024.0, 11020.0),
 (421.0, 10446.0),
 (20622.0, 633.0),
 (639.0, 609.0),
 (106.0, 10152.0),
 (217.0, 240.0),
 (613.0, 626.0),
 (1222.0, 544.0),
 (302.0, 315.0),
 (612.0, 20620.0),
 (622.0, 640.0),
 (703.0, 10718.0),
 (710.0, 10734.0),
 (644.0, 20615.0),
 (20904.0, 941.0),
 (737.0, 731.0),
 (10950.0, 962.0),
 (912.0, 933.0),
 (403.0, 10401.0),
 (10343.0, 303.0),
 (936.0, 20972.0),
 (305.0, 928.0),
 (967.0, 961.0),
 (224.0, 208.0),
 (104.0, 10129.0),
 (1001.0, 1016.0),
 (528.0, 504.0),
 (921.0, 20937.0),
 (20618.0, 644.0),
 (1238.0, 1206.0),
 (560.0, 553.0),
 (11020.0, 1018.0),
 (728.0, 719.0),
 (735.0, 1240.0),
 (10510.0, 523.0),
 (603.0, 634.0),
 (236.0, 813.0),
 (826.0, 10332.0),
 (741.0, 728.0),
 (926.0, 30902.0),
 (229.0, 10233.0),
 (928.0, 811.0),
 (215.0, 225.0),
 (10359.0, 313.0),
 (521.0, 1120.0),
 (10292.0, 246.0),
 (560.0, 117.0),
 (638.0, 818.0),
 (1018.0, 11020.0),
 (110.0, 235.0),
 (209.0, 234.0),
 (564.0, 532.0),
 (820.0, 958.0),
 (241.0, 217.0),
 (20638.0, 645.0),
 (113.0, 111.0),
 (838.0, 814.0),
 (967.0, 974.0),
 (405.0, 10496.0),
 (1123.0, 1120.0),
 (955.0, 722.0),
 (960.0, 952.0),
 (203.0, 10211.0),
 (10954.0, 911.0),
 (950.0, 555.0),
 (203.0, 242.0),
 (626.0, 20608.0),
 (10730.0, 702.0),
 (10755.0, 707.0),
 (1226.0, 1226.0),
 (1012.0, 1003.0),
 (212.0, 10204.0),
 (312.0, 321.0),
 (322.0, 335.0),
 (216.0, 246.0),
 (640.0, 616.0),
 (1020.0, 521.0),
 (10242.0, 212.0),
 (916.0, 956.0),
 (20626.0, 648.0),
 (30906.0, 941.0),
 (811.0, 20813.0),
 (549.0, 1022.0),
 (1234.0, 1206.0),
 (20602.0, 618.0),
 (1224.0, 1231.0),
 (10865.0, 838.0),
 (608.0, 628.0),
 (112.0, 323.0),
 (1216.0, 11212.0),
 (649.0, 650.0),
 (568.0, 566.0),
 (10360.0, 10336.0),
 (554.0, 521.0),
 (515.0, 552.0),
 (430.0, 10431.0),
 (430.0, 20446.0),
 (344.0, 517.0),
 (10336.0, 338.0),
 (729.0, 10767.0),
 (633.0, 20572.0),
 (1010.0, 1005.0),
 (901.0, 1030.0),
 (10478.0, 411.0),
 (10939.0, 903.0),
 (907.0, 20987.0),
 (901.0, 1019.0),
 (1228.0, 1218.0),
 (612.0, 623.0),
 (206.0, 1016.0),
 (10883.0, 809.0),
 (617.0, 20645.0),
 (312.0, 331.0),
 (404.0, 411.0),
 (208.0, 236.0),
 (1119.0, 11176.0),
 (10654.0, 608.0),
 (323.0, 205.0),
 (636.0, 10621.0),
 (11019.0, 1013.0),
 (821.0, 1012.0),
 (10453.0, 426.0),
 (968.0, 901.0),
 (20329.0, 313.0),
 (648.0, 20409.0),
 (20659.0, 646.0),
 (1032.0, 1001.0),
 (331.0, 328.0),
 (972.0, 964.0),
 (910.0, 10921.0),
 (229.0, 1021.0),
 (303.0, 346.0),
 (964.0, 903.0),
 (247.0, 201.0),
 (10873.0, 834.0),
 (20996.0, 956.0),
 (314.0, 10304.0),
 (20584.0, 961.0),
 (11098.0, 1019.0),
 (605.0, 618.0),
 (222.0, 202.0),
 (925.0, 911.0),
 (339.0, 20308.0),
 (1245.0, 1222.0),
 (934.0, 935.0),
 (20568.0, 530.0),
 (10684.0, 619.0),
 (10714.0, 738.0),
 (304.0, 337.0),
 (30514.0, 502.0),
 (10540.0, 505.0),
 (818.0, 813.0),
 (905.0, 925.0),
 (10843.0, 1025.0),
 (1124.0, 1122.0),
 (607.0, 608.0),
 (10632.0, 623.0),
 (102.0, 104.0),
 (20413.0, 403.0),
 (824.0, 838.0),
 (838.0, 10808.0),
 (545.0, 518.0),
 (309.0, 307.0),
 (10349.0, 314.0),
 (638.0, 104.0),
 (110.0, 321.0),
 (20608.0, 626.0),
 (1246.0, 10780.0),
 (621.0, 604.0),
 (323.0, 310.0),
 (10287.0, 203.0),
 (1009.0, 11032.0),
 (10734.0, 712.0),
 (10983.0, 707.0),
 (10268.0, 228.0),
 (804.0, 817.0),
 (933.0, 915.0),
 (942.0, 931.0),
 (337.0, 10385.0),
 (10678.0, 638.0),
 (1024.0, 11041.0),
 (803.0, 815.0),
 (11058.0, 1016.0),
 (708.0, 720.0),
 (20981.0, 906.0),
 (627.0, 928.0),
 (740.0, 705.0),
 (613.0, 605.0),
 (523.0, 813.0),
 (1212.0, 1207.0),
 (827.0, 10822.0),
 (20904.0, 946.0),
 (917.0, 946.0),
 (956.0, 920.0),
 (335.0, 10324.0),
 (570.0, 1122.0),
 (556.0, 1105.0),
 (10921.0, 925.0),
 (519.0, 549.0),
 (308.0, 10632.0),
 (560.0, 526.0),
 (832.0, 803.0),
 (10969.0, 905.0),
 (712.0, 729.0),
 (1228.0, 641.0),
 (10835.0, 816.0),
 (20991.0, 923.0),
 (1232.0, 1235.0),
 (1022.0, 11033.0),
 (943.0, 901.0),
 (819.0, 1021.0),
 (215.0, 220.0),
 (11021.0, 1009.0),
 (20226.0, 205.0),
 (823.0, 818.0),
 (703.0, 712.0),
 (1005.0, 528.0),
 (502.0, 522.0),
 (428.0, 425.0),
 (545.0, 10722.0),
 (10105.0, 113.0),
 (10431.0, 430.0),
 (526.0, 540.0),
 (20249.0, 208.0),
 (818.0, 815.0),
 (837.0, 805.0),
 (203.0, 201.0),
 (20842.0, 815.0),
 (1226.0, 1239.0),
 (337.0, 315.0),
 (415.0, 10468.0),
 (813.0, 818.0),
 (504.0, 534.0),
 (10332.0, 729.0),
 (541.0, 30514.0),
 (1236.0, 1250.0),
 (915.0, 20945.0),
 (20847.0, 801.0),
 (1211.0, 1232.0),
 (821.0, 612.0),
 (10661.0, 634.0),
 (954.0, 20937.0),
 (10557.0, 569.0),
 (11041.0, 1012.0),
 (10972.0, 920.0),
 (20706.0, 518.0),
 (20514.0, 641.0),
 (541.0, 534.0),
 (611.0, 20572.0),
 (527.0, 551.0),
 (1025.0, 11036.0),
 (216.0, 20200.0),
 (340.0, 312.0),
 (107.0, 10120.0),
 (313.0, 10387.0),
 (554.0, 530.0),
 (1222.0, 11212.0),
 (201.0, 231.0),
 (814.0, 915.0),
 (1030.0, 1025.0),
 (1247.0, 1212.0),
 (901.0, 902.0),
 (940.0, 940.0),
 (217.0, 20249.0),
 (559.0, 554.0),
 (1244.0, 226.0),
 (1228.0, 1247.0),
 (10846.0, 1247.0),
 (642.0, 802.0),
 (972.0, 541.0),
 (612.0, 628.0),
 (937.0, 963.0),
 (1019.0, 1002.0),
 (801.0, 10835.0),
 (618.0, 308.0),
 (726.0, 10716.0),
 (10444.0, 105.0),
 (115.0, 338.0),
 (10453.0, 405.0),
 (638.0, 642.0),
 (901.0, 346.0),
 (11059.0, 1027.0),
 (10722.0, 105.0),
 (918.0, 926.0),
 (247.0, 228.0),
 (906.0, 10917.0),
 (549.0, 522.0),
 (940.0, 20923.0),
 (10428.0, 426.0),
 (807.0, 838.0),
 (964.0, 10938.0),
 (10214.0, 229.0),
 (962.0, 10734.0),
 (222.0, 239.0),
 (309.0, 10357.0),
 (409.0, 402.0),
 (833.0, 824.0),
 (302.0, 10316.0),
 (934.0, 952.0),
 (20658.0, 649.0),
 (10361.0, 309.0),
 (215.0, 10290.0),
 (607.0, 20620.0),
 (827.0, 834.0),
 (405.0, 408.0),
 (248.0, 243.0),
 (123.0, 821.0),
 (107.0, 328.0),
 (1124.0, 1103.0),
 (236.0, 620.0),
 (909.0, 937.0),
 (1014.0, 11023.0),
 (204.0, 319.0),
 (606.0, 604.0),
 (537.0, 123.0),
 (566.0, 20573.0),
 (841.0, 813.0),
 (703.0, 10760.0),
 (907.0, 20811.0),
 (20227.0, 244.0),
 (10715.0, 708.0),
 (937.0, 10918.0),
 (704.0, 738.0),
 (621.0, 631.0),
 (312.0, 315.0),
 (627.0, 10597.0),
 (102.0, 10105.0),
 (10940.0, 941.0),
 (406.0, 10436.0),
 (705.0, 710.0),
 (543.0, 542.0),
 (952.0, 20934.0),
 (817.0, 833.0),
 (803.0, 818.0),
 (570.0, 523.0),
 (10574.0, 544.0),
 (556.0, 554.0),
 (10880.0, 801.0),
 (10873.0, 818.0),
 (237.0, 247.0),
 (532.0, 562.0),
 (518.0, 517.0),
 (545.0, 554.0),
 (20395.0, 303.0),
 (10332.0, 423.0),
 (107.0, 121.0),
 (570.0, 1103.0),
 (736.0, 10720.0),
 (20990.0, 962.0),
 (318.0, 10344.0),
 (330.0, 315.0),
 (10412.0, 414.0),
 (1024.0, 1027.0),
 (641.0, 629.0),
 (115.0, 944.0),
 (10469.0, 428.0),
 (334.0, 338.0),
 (918.0, 20964.0),
 (520.0, 549.0),
 (502.0, 1123.0),
 (712.0, 10734.0),
 (1018.0, 1029.0),
 (327.0, 10365.0),
 (912.0, 10954.0),
 (10640.0, 1245.0),
 (966.0, 928.0),
 (629.0, 618.0),
 (906.0, 951.0),
 (20306.0, 331.0),
 (110.0, 305.0),
 (10448.0, 933.0),
 (112.0, 10106.0),
 (1204.0, 1210.0),
 (1246.0, 1249.0),
 (1213.0, 1204.0),
 (1011.0, 555.0),
 (643.0, 640.0),
 (813.0, 114.0),
 (523.0, 519.0),
 (1122.0, 1121.0),
 (20620.0, 607.0),
 (707.0, 10755.0),
 (932.0, 10921.0),
 (619.0, 642.0),
 (10461.0, 406.0),
 (812.0, 823.0),
 (324.0, 10334.0),
 (964.0, 906.0),
 (226.0, 203.0),
 (636.0, 514.0),
 (11008.0, 1024.0),
 (20964.0, 959.0),
 (541.0, 561.0),
 (107.0, 10159.0),
 (313.0, 10358.0),
 (909.0, 30991.0),
 (209.0, 20244.0),
 (736.0, 337.0),
 (20644.0, 610.0),
 (205.0, 643.0),
 (417.0, 403.0),
 (907.0, 20917.0),
 (616.0, 10648.0),
 (637.0, 10632.0),
 (10431.0, 122.0),
 (609.0, 641.0),
 (10836.0, 832.0),
 (10358.0, 311.0),
 (924.0, 906.0),
 (820.0, 843.0),
 (826.0, 10861.0),
 (10551.0, 549.0),
 (20513.0, 560.0),
 (10382.0, 321.0),
 (1019.0, 11019.0),
 (224.0, 10264.0),
 (10734.0, 967.0),
 (10152.0, 703.0),
 (331.0, 330.0),
 (813.0, 834.0),
 (522.0, 561.0),
 (964.0, 960.0),
 (946.0, 244.0),
 (10419.0, 20405.0),
 (934.0, 925.0),
 (1243.0, 1235.0),
 (707.0, 10738.0),
 (567.0, 533.0),
 (913.0, 918.0),
 (343.0, 618.0),
 (827.0, 825.0),
 (526.0, 10593.0),
 (10950.0, 738.0),
 (20972.0, 123.0),
 (957.0, 920.0),
 (10187.0, 121.0),
 (936.0, 909.0),
 (20805.0, 806.0),
 (641.0, 10609.0),
 (942.0, 10950.0),
 (1247.0, 1228.0),
 (841.0, 816.0),
 (703.0, 10775.0),
 (555.0, 526.0),
 (301.0, 1014.0),
 (923.0, 935.0),
 (1243.0, 1222.0),
 (932.0, 959.0),
 (10162.0, 106.0),
 (10278.0, 225.0),
 (920.0, 974.0),
 (327.0, 20318.0),
 (816.0, 815.0),
 (707.0, 10983.0),
 (555.0, 202.0),
 (817.0, 804.0),
 (1020.0, 11011.0),
 (10993.0, 707.0),
 (240.0, 206.0),
 (10343.0, 308.0),
 (532.0, 543.0),
 (10356.0, 308.0),
 (518.0, 542.0),
 (10494.0, 414.0),
 (11084.0, 1020.0),
 (1103.0, 1105.0),
 (10466.0, 423.0),
 (10950.0, 925.0),
 (709.0, 742.0),
 (20977.0, 107.0),
 (912.0, 10205.0),
 (930.0, 961.0),
 (20990.0, 935.0),
 (610.0, 20641.0),
 (244.0, 241.0),
 (967.0, 20215.0),
 (10103.0, 107.0),
 (520.0, 522.0),
 (1003.0, 11008.0),
 (104.0, 10152.0),
 (1001.0, 1009.0),
 (206.0, 220.0),
 (563.0, 541.0),
 (20217.0, 229.0),
 (328.0, 106.0),
 (738.0, 717.0),
 (213.0, 10256.0),
 (812.0, 10466.0),
 (629.0, 917.0),
 (906.0, 912.0),
 (555.0, 507.0),
 (20636.0, 603.0),
 (232.0, 228.0),
 (312.0, 10309.0),
 (713.0, 708.0),
 (526.0, 554.0),
 (410.0, 20410.0),
 (242.0, 231.0),
 (929.0, 925.0),
 (553.0, 537.0),
 (703.0, 10332.0),
 (10690.0, 607.0),
 (322.0, 318.0),
 (829.0, 301.0),
 (411.0, 10487.0),
 (236.0, 239.0),
 (623.0, 525.0),
 (20626.0, 603.0),
 (1024.0, 1004.0),
 (964.0, 919.0),
 (958.0, 20959.0),
 (10924.0, 958.0),
 (830.0, 824.0),
 (10843.0, 822.0),
 (505.0, 107.0),
 (514.0, 553.0),
 (952.0, 934.0),
 (10614.0, 627.0),
 (322.0, 20300.0),
 (120.0, 118.0),
 (645.0, 10647.0),
 (205.0, 10250.0),
 (649.0, 603.0),
 (301.0, 344.0),
 (403.0, 10459.0),
 (718.0, 731.0),
 (561.0, 509.0),
 (805.0, 809.0),
 (832.0, 840.0),
 (410.0, 402.0),
 (1005.0, 806.0),
 (215.0, 20237.0),
 (10140.0, 106.0),
 (1029.0, 11090.0),
 (11001.0, 1032.0),
 (723.0, 10740.0),
 (319.0, 328.0),
 (833.0, 808.0),
 (10896.0, 815.0),
 (521.0, 603.0),
 (10785.0, 121.0),
 (639.0, 10628.0),
 (740.0, 10777.0),
 (627.0, 20628.0),
 (10383.0, 305.0),
 (424.0, 10402.0),
 (972.0, 923.0),
 (10763.0, 703.0),
 (10489.0, 408.0),
 (561.0, 564.0),
 (967.0, 912.0),
 (1031.0, 203.0),
 (501.0, 526.0),
 (104.0, 312.0),
 (537.0, 229.0),
 (1120.0, 515.0),
 (809.0, 812.0),
 (110.0, 334.0),
 (20924.0, 917.0),
 (720.0, 10735.0),
 (522.0, 538.0),
 (545.0, 1003.0),
 (618.0, 10690.0),
 (819.0, 101.0),
 (240.0, 1012.0),
 (636.0, 626.0),
 (567.0, 560.0),
 (839.0, 815.0),
 (10737.0, 732.0),
 (308.0, 10356.0),
 (917.0, 10920.0),
 (629.0, 605.0),
 (961.0, 933.0),
 (318.0, 337.0),
 (10448.0, 952.0),
 (306.0, 20323.0),
 (412.0, 10478.0),
 (1027.0, 11047.0),
 (1001.0, 11033.0),
 (10426.0, 402.0),
 (1029.0, 1031.0),
 (542.0, 515.0),
 (305.0, 10365.0),
 (505.0, 556.0),
 (903.0, 20964.0),
 (528.0, 10553.0),
 (952.0, 30953.0),
 (703.0, 812.0),
 (555.0, 549.0),
 (239.0, 212.0),
 (324.0, 310.0),
 (706.0, 114.0),
 (10625.0, 650.0),
 (732.0, 10737.0),
 (20591.0, 551.0),
 (120.0, 10199.0),
 (509.0, 10577.0),
 (11039.0, 1021.0),
 (10785.0, 246.0),
 (530.0, 526.0),
 (327.0, 324.0),
 (509.0, 545.0),
 (20317.0, 334.0),
 (802.0, 20861.0),
 (907.0, 957.0),
 (30945.0, 920.0),
 (731.0, 718.0),
 (807.0, 813.0),
 (10764.0, 840.0),
 (518.0, 563.0),
 (1235.0, 1215.0),
 (10658.0, 639.0),
 (910.0, 20970.0),
 (526.0, 548.0),
 (316.0, 332.0),
 (10843.0, 540.0),
 (10421.0, 430.0),
 (415.0, 424.0),
 (10681.0, 637.0),
 (11013.0, 1030.0),
 (735.0, 723.0),
 (408.0, 410.0),
 (10448.0, 403.0),
 (623.0, 10639.0),
 (1003.0, 11047.0),
 (935.0, 903.0),
 (20404.0, 413.0),
 (928.0, 959.0),
 (10283.0, 240.0),
 (738.0, 550.0),
 (565.0, 567.0),
 (217.0, 10214.0),
 (710.0, 704.0),
 (219.0, 231.0),
 (1029.0, 20214.0),
 (10416.0, 430.0),
 (20664.0, 650.0),
 (10487.0, 406.0),
 (958.0, 952.0),
 (229.0, 228.0),
 (1204.0, 1228.0),
 (418.0, 405.0),
 (540.0, 520.0),
 (425.0, 20454.0),
 (1003.0, 1023.0),
 (1240.0, 738.0),
 (977.0, 908.0),
 (11080.0, 1020.0),
 (10690.0, 632.0),
 (20846.0, 841.0),
 (1228.0, 323.0),
 (1027.0, 1016.0),
 (943.0, 20909.0),
 (709.0, 818.0),
 (962.0, 10954.0),
 (515.0, 521.0),
 (20986.0, 967.0),
 (964.0, 956.0),
 (106.0, 10123.0),
 (217.0, 209.0),
 (704.0, 10734.0),
 (10843.0, 813.0),
 (528.0, 539.0),
 (302.0, 346.0),
 (20505.0, 514.0),
 (952.0, 907.0),
 (246.0, 247.0),
 (1021.0, 819.0),
 (1012.0, 10785.0),
 (30902.0, 1223.0),
 (1021.0, 11053.0),
 (328.0, 318.0),
 (805.0, 820.0),
 (519.0, 522.0),
 (10804.0, 837.0),
 (962.0, 933.0),
 (20900.0, 958.0),
 (11025.0, 1025.0),
 (10211.0, 106.0),
 (11220.0, 1227.0),
 (723.0, 734.0),
 (722.0, 214.0),
 (10822.0, 838.0),
 (20923.0, 947.0),
 (228.0, 226.0),
 (638.0, 813.0),
 (613.0, 10602.0),
 (706.0, 20707.0),
 (642.0, 729.0),
 (557.0, 10579.0),
 (241.0, 250.0),
 (1244.0, 10675.0),
 (912.0, 907.0),
 (642.0, 10637.0),
 (967.0, 943.0),
 (904.0, 974.0),
 (960.0, 903.0),
 (632.0, 612.0),
 (501.0, 553.0),
 (20591.0, 829.0),
 (618.0, 603.0),
 (1123.0, 570.0),
 (330.0, 643.0),
 (640.0, 631.0),
 (10941.0, 902.0),
 (317.0, 105.0),
 (920.0, 20996.0),
 (623.0, 637.0),
 (405.0, 10469.0),
 (106.0, 10110.0),
 (1123.0, 502.0),
 (911.0, 10950.0),
 (839.0, 842.0),
 (620.0, 10690.0),
 (10455.0, 421.0),
 (1009.0, 1012.0),
 (236.0, 707.0),
 (220.0, 216.0),
 (644.0, 618.0),
 (637.0, 521.0),
 (554.0, 1103.0),
 (337.0, 301.0),
 (635.0, 630.0),
 (104.0, 560.0),
 (425.0, 10401.0),
 (936.0, 951.0),
 (20650.0, 603.0),
 (925.0, 30906.0),
 (1025.0, 312.0),
 (531.0, 10593.0),
 (949.0, 960.0),
 (806.0, 843.0),
 (11001.0, 1016.0),
 (423.0, 409.0),
 (1218.0, 1239.0),
 (11026.0, 1011.0),
 (732.0, 10734.0),
 (318.0, 20339.0),
 (517.0, 541.0),
 (20214.0, 1009.0),
 (1208.0, 1232.0),
 (213.0, 20932.0),
 (920.0, 920.0),
 (629.0, 650.0),
 (302.0, 1012.0),
 (530.0, 555.0),
 (237.0, 225.0),
 (509.0, 540.0),
 (10809.0, 835.0),
 (10799.0, 738.0),
 (919.0, 30909.0),
 (712.0, 10789.0),
 (907.0, 912.0),
 (10137.0, 113.0),
 (1216.0, 1236.0),
 (203.0, 20233.0),
 (10817.0, 1240.0),
 (234.0, 10296.0),
 (104.0, 328.0),
 (106.0, 818.0),
 (20669.0, 649.0),
 (833.0, 20816.0),
 (11204.0, 1240.0),
 (202.0, 223.0),
 (211.0, 207.0),
 (732.0, 707.0),
 (925.0, 912.0),
 (20438.0, 429.0),
 (212.0, 234.0),
 (10942.0, 933.0),
 (224.0, 206.0),
 (637.0, 923.0),
 (645.0, 642.0),
 (20322.0, 317.0),
 (301.0, 10307.0),
 (550.0, 513.0),
 (220.0, 224.0),
 (1003.0, 11066.0),
 (20827.0, 830.0),
 (554.0, 512.0),
 (20416.0, 425.0),
 (206.0, 234.0),
 (30550.0, 561.0),
 (1013.0, 11012.0),
 (951.0, 20987.0),
 (710.0, 741.0),
 (10698.0, 642.0),
 (525.0, 560.0),
 (10296.0, 217.0),
 (1240.0, 1227.0),
 (10496.0, 410.0),
 (642.0, 639.0),
 (919.0, 957.0),
 (10708.0, 701.0),
 (10422.0, 20425.0),
 (711.0, 703.0),
 (1227.0, 1208.0),
 (10797.0, 725.0),
 (540.0, 549.0),
 (735.0, 10950.0),
 (104.0, 119.0),
 (10255.0, 217.0),
 (10677.0, 631.0),
 (733.0, 704.0),
 (10268.0, 203.0),
 (20915.0, 922.0),
 (513.0, 517.0),
 (1008.0, 11047.0),
 (1024.0, 11008.0),
 (515.0, 556.0),
 (1250.0, 1215.0),
 (1225.0, 1207.0),
 (1223.0, 11234.0),
 (613.0, 638.0),
 (249.0, 203.0),
 (302.0, 319.0),
 (507.0, 527.0),
 (559.0, 20542.0),
 (949.0, 30909.0),
 (20405.0, 414.0),
 (818.0, 809.0),
 (121.0, 114.0),
 (718.0, 737.0),
 (533.0, 532.0),
 (224.0, 212.0),
 (10799.0, 532.0),
 (20900.0, 923.0),
 (323.0, 520.0),
 (206.0, 20245.0),
 (10817.0, 829.0),
 (629.0, 236.0),
 (10642.0, 620.0),
 (343.0, 330.0),
 (236.0, 809.0),
 (1223.0, 1216.0),
 (1105.0, 545.0),
 (937.0, 951.0),
 (20616.0, 622.0),
 (521.0, 513.0),
 (560.0, 105.0),
 (20320.0, 302.0),
 (1014.0, 1018.0),
 (1018.0, 11016.0),
 (110.0, 239.0),
 (613.0, 10613.0),
 (316.0, 10331.0),
 (10323.0, 1121.0),
 (11243.0, 1232.0),
 (950.0, 20910.0),
 (1246.0, 1215.0),
 (967.0, 970.0),
 (20815.0, 819.0),
 (1123.0, 1124.0),
 (960.0, 956.0),
 (912.0, 10448.0),
 (104.0, 226.0),
 (1227.0, 606.0),
 (410.0, 20439.0),
 (113.0, 116.0),
 (10205.0, 217.0),
 (322.0, 331.0),
 (216.0, 250.0),
 (944.0, 820.0),
 (545.0, 801.0),
 (10242.0, 208.0),
 (826.0, 826.0),
 (921.0, 722.0),
 (833.0, 810.0),
 (964.0, 972.0),
 (736.0, 735.0),
 (523.0, 967.0),
 (601.0, 10610.0),
 (527.0, 516.0),
 (312.0, 322.0),
 (10639.0, 638.0),
 (568.0, 570.0),
 (236.0, 728.0),
 (637.0, 612.0),
 (625.0, 648.0),
 (701.0, 723.0),
 (407.0, 10494.0),
 (907.0, 20991.0),
 (822.0, 107.0),
 (806.0, 812.0),
 (612.0, 619.0),
 (20425.0, 423.0),
 (330.0, 10312.0),
 (20935.0, 915.0),
 (531.0, 519.0),
 (312.0, 335.0),
 (404.0, 423.0),
 (208.0, 224.0),
 (915.0, 20995.0),
 (10654.0, 612.0),
 (10993.0, 208.0),
 (927.0, 949.0),
 (530.0, 1121.0),
 (920.0, 957.0),
 (1031.0, 11001.0),
 (30512.0, 541.0),
 (709.0, 10734.0),
 (20329.0, 317.0),
 (237.0, 252.0),
 (1023.0, 1005.0),
 (560.0, 503.0),
 (10819.0, 1021.0),
 (601.0, 617.0),
 (626.0, 236.0),
 (532.0, 20574.0),
 (545.0, 114.0),
 (123.0, 106.0),
 (228.0, 20246.0),
 (612.0, 10677.0),
 (10447.0, 430.0),
 (549.0, 555.0),
 (911.0, 916.0),
 (627.0, 1204.0),
 (809.0, 839.0),
 (10967.0, 901.0),
 (562.0, 569.0),
 (1016.0, 1105.0),
 (1021.0, 1012.0),
 (421.0, 410.0),
 (430.0, 424.0),
 (605.0, 614.0),
 (11072.0, 1018.0),
 (620.0, 20608.0),
 (944.0, 968.0),
 (925.0, 907.0),
 (634.0, 10655.0),
 (10838.0, 832.0),
 (212.0, 215.0),
 (916.0, 10954.0),
 (1125.0, 1105.0),
 (975.0, 806.0),
 (10124.0, 1240.0),
 (1245.0, 10817.0),
 (11211.0, 1231.0),
 (707.0, 729.0),
 (10188.0, 122.0),
 (607.0, 620.0),
 (928.0, 905.0),
 (909.0, 970.0),
 (11012.0, 1022.0),
 (10489.0, 10448.0),
 (20459.0, 433.0),
 (912.0, 10942.0),
 (814.0, 825.0),
 (10264.0, 237.0),
 (10416.0, 408.0),
 (834.0, 10855.0),
 (730.0, 734.0),
 (552.0, 518.0),
 (919.0, 920.0),
 (512.0, 20503.0),
 (10325.0, 302.0),
 (923.0, 1121.0),
 (10599.0, 528.0),
 (946.0, 937.0),
 (413.0, 420.0),
 (20272.0, 216.0),
 (904.0, 20981.0),
 (10734.0, 716.0),
 (406.0, 10471.0),
 (10268.0, 224.0),
 (924.0, 839.0),
 (20430.0, 424.0),
 (513.0, 568.0),
 (204.0, 205.0),
 (328.0, 20320.0),
 (815.0, 415.0),
 (1024.0, 11045.0),
 (421.0, 10453.0),
 (570.0, 554.0),
 (1031.0, 1003.0),
 (20986.0, 909.0),
 (556.0, 521.0),
 (708.0, 732.0),
 (106.0, 10161.0),
 (821.0, 923.0),
 (11032.0, 1019.0),
 (812.0, 1030.0),
 (904.0, 969.0),
 (1206.0, 1234.0),
 (559.0, 20517.0),
 ...]

In [19]:
test=[(10993.0, 229.0),(927.0, 959.0),(1120.0, 224.0),(11039.0, 1008.0),(104.0, 115.0)]

In [20]:
len(set(zip(df_x.codej1.values,df_x.codej2.values)))

18038

In [178]:
df2.query('(codej1==104.0 and codej2==115.0)')

        casenum  codej1  codej2  day  month  year     judge_pairs
7798      16037     104     115   27      3  1991  (104.0, 115.0)
13444       733     104     115   30     12  1986  (104.0, 115.0)
45153       743     104     115    9      1  1986  (104.0, 115.0)
45993     15344     104     115   20     11  1989  (104.0, 115.0)
62790     16047     104     115    8     10  1991  (104.0, 115.0)
79711       372     104     115   31      7  1987  (104.0, 115.0)
80893       362     104     115   23      6  1987  (104.0, 115.0)
82009     20749     104     115   24     11  1999  (104.0, 115.0)
83215     16042     104     115   23      7  1991  (104.0, 115.0)
83322        30     104     115   29      7  1988  (104.0, 115.0)
83683         7     104     115    8      7  1988  (104.0, 115.0)
84829         3     104     115    9      2  1988  (104.0, 115.0)
85369     16062     104     115   15      8  1991  (104.0, 115.0)
85465       375     104     115   29      9  1987  (104.0, 115.0)
85603        12     104     115   26      5  1988  (104.0, 115.0)
85813       742     104     115   29      7  1986  (104.0, 115.0)
87173      1081     104     115    4      8  1985  (104.0, 115.0)
87233       379     104     115    3      9  1987  (104.0, 115.0)
87953        14     104     115    7     10  1988  (104.0, 115.0)
92453        23     104     115    3      8  1988  (104.0, 115.0)
92470     16764     104     115   30      4  1993  (104.0, 115.0)
92530        25     104     115   27      1  1988  (104.0, 115.0)
92536     15703     104     115    2     11  1990  (104.0, 115.0)
92566     17126     104     115    8     12  1994  (104.0, 115.0)
92579       361     104     115   21      1  1987  (104.0, 115.0)
92614     16401     104     115    8      6  1992  (104.0, 115.0)
92627       365     104     115   20      3  1987  (104.0, 115.0)
92644     20371     104     115   27     10  1998  (104.0, 115.0)
100578    17859     104     115    7      2  1996  (104.0, 115.0)
100582    15690     104     115   11      1  1990  (104.0, 115.0)
100589    15688     104     115    7     11  1990  (104.0, 115.0)
100594        2     104     115   27      7  1988  (104.0, 115.0)
100600    15331     104     115   17     11  1989  (104.0, 115.0)
100608    17498     104     115   31      8  1995  (104.0, 115.0)
100626    20006     104     115    8      1  1997  (104.0, 115.0)
100660    16396     104     115   23     11  1992  (104.0, 115.0)
100666    17502     104     115   15     12  1995  (104.0, 115.0)
100672      364     104     115    6      2  1987  (104.0, 115.0)
100686    16762     104     115    3      3  1993  (104.0, 115.0)
100702    20368     104     115    5      6  1998  (104.0, 115.0)
100709    16410     104     115   20     11  1992  (104.0, 115.0)
100727       28     104     115   22     12  1988  (104.0, 115.0)
100768    17490     104     115   31      5  1995  (104.0, 115.0)

In [179]:
df4=df2.query('(codej1==959.0 and codej2==927.0) or (codej1==927.0 and codej2==959.0) or (codej1==104.0 and codej2==115.0) or (codej1==115.0 and codej2==104.0)').reset_index(drop=True)

In [180]:
df4

     casenum  codej1  codej2  day  month  year     judge_pairs
0      16037     104     115   27      3  1991  (104.0, 115.0)
1      16037     115     104   27      3  1991  (115.0, 104.0)
2        733     104     115   30     12  1986  (104.0, 115.0)
3        733     115     104   30     12  1986  (115.0, 104.0)
4      12554     959     927   26      5  1942  (959.0, 927.0)
5      12554     927     959   26      5  1942  (927.0, 959.0)
6      12552     959     927   17      2  1942  (959.0, 927.0)
7      12552     927     959   17      2  1942  (927.0, 959.0)
8      13045     959     927    1      6  1939  (959.0, 927.0)
9      13045     927     959    1      6  1939  (927.0, 959.0)
10     13039     959     927   11      1  1939  (959.0, 927.0)
11     13039     927     959   11      1  1939  (927.0, 959.0)
12     13047     959     927   15      6  1939  (959.0, 927.0)
13     13047     927     959   15      6  1939  (927.0, 959.0)
14     12550     959     927    7     12  1942  (959.0, 927.0)
15     12550     927     959    7     12  1942  (927.0, 959.0)
16     13048     959     927   27      4  1939  (959.0, 927.0)
17     13048     927     959   27      4  1939  (927.0, 959.0)
18     13038     959     927   31     12  1939  (959.0, 927.0)
19     13038     927     959   31     12  1939  (927.0, 959.0)
20     13210     959     927   23      4  1938  (959.0, 927.0)
21     13210     927     959   23      4  1938  (927.0, 959.0)
22     13201     959     927    4      4  1938  (959.0, 927.0)
23     13201     927     959    4      4  1938  (927.0, 959.0)
24     13204     959     927   18     10  1938  (959.0, 927.0)
25     13204     927     959   18     10  1938  (927.0, 959.0)
26     12707     959     927   20     12  1941  (959.0, 927.0)
27     12707     927     959   20     12  1941  (927.0, 959.0)
28     12877     959     927   27      7  1940  (959.0, 927.0)
29     12877     927     959   27      7  1940  (927.0, 959.0)
..       ...     ...     ...  ...    ...   ...             ...
88     17859     104     115    7      2  1996  (104.0, 115.0)
89     17859     115     104    7      2  1996  (115.0, 104.0)
90     15690     104     115   11      1  1990  (104.0, 115.0)
91     15690     115     104   11      1  1990  (115.0, 104.0)
92     15688     104     115    7     11  1990  (104.0, 115.0)
93     15688     115     104    7     11  1990  (115.0, 104.0)
94         2     104     115   27      7  1988  (104.0, 115.0)
95         2     115     104   27      7  1988  (115.0, 104.0)
96     15331     104     115   17     11  1989  (104.0, 115.0)
97     15331     115     104   17     11  1989  (115.0, 104.0)
98     17498     104     115   31      8  1995  (104.0, 115.0)
99     17498     115     104   31      8  1995  (115.0, 104.0)
100    20006     104     115    8      1  1997  (104.0, 115.0)
101    20006     115     104    8      1  1997  (115.0, 104.0)
102    16396     104     115   23     11  1992  (104.0, 115.0)
103    16396     115     104   23     11  1992  (115.0, 104.0)
104    17502     104     115   15     12  1995  (104.0, 115.0)
105    17502     115     104   15     12  1995  (115.0, 104.0)
106      364     104     115    6      2  1987  (104.0, 115.0)
107      364     115     104    6      2  1987  (115.0, 104.0)
108    16762     104     115    3      3  1993  (104.0, 115.0)
109    16762     115     104    3      3  1993  (115.0, 104.0)
110    20368     104     115    5      6  1998  (104.0, 115.0)
111    20368     115     104    5      6  1998  (115.0, 104.0)
112    16410     104     115   20     11  1992  (104.0, 115.0)
113    16410     115     104   20     11  1992  (115.0, 104.0)
114       28     104     115   22     12  1988  (104.0, 115.0)
115       28     115     104   22     12  1988  (115.0, 104.0)
116    17490     104     115   31      5  1995  (104.0, 115.0)
117    17490     115     104   31      5  1995  (115.0, 104.0)

[118 rows x 7 columns]

In [60]:
df2.to_csv('final_feats_without_dummies_3.csv')

In [11]:
df_x=remove_bad_rows(df_x)

In [166]:
df5[df5.index=np.argsort(df5.sat_together_count).values]

SyntaxError: invalid syntax (<ipython-input-166-76bd4c0246be>, line 1)

In [182]:
df5.ix[np.argsort(df5.sat_together_count).values]

     casenum  codej1  codej2  day  month  year  sat_together_count
64      1081     104     115    4      8  1985                   0
23     13201     927     959    4      4  1938                   0
22     13201     959     927    4      4  1938                   0
65      1081     115     104    4      8  1985                   0
20     13210     959     927   23      4  1938                   1
21     13210     927     959   23      4  1938                   1
36       743     104     115    9      1  1986                   1
37       743     115     104    9      1  1986                   1
25     13204     927     959   18     10  1938                   2
24     13204     959     927   18     10  1938                   2
63       742     115     104   29      7  1986                   2
62       742     104     115   29      7  1986                   2
3        733     115     104   30     12  1986                   3
10     13039     959     927   11      1  1939                   3
11     13039     927     959   11      1  1939                   3
2        733     104     115   30     12  1986                   3
34     13036     959     927   13      3  1939                   4
35     13036     927     959   13      3  1939                   4
81       361     115     104   21      1  1987                   4
80       361     104     115   21      1  1987                   4
107      364     115     104    6      2  1987                   5
17     13048     927     959   27      4  1939                   5
16     13048     959     927   27      4  1939                   5
106      364     104     115    6      2  1987                   5
84       365     104     115   20      3  1987                   6
85       365     115     104   20      3  1987                   6
33     13046     927     959   29      5  1939                   6
32     13046     959     927   29      5  1939                   6
44       362     104     115   23      6  1987                   7
45       362     115     104   23      6  1987                   7
..       ...     ...     ...  ...    ...   ...                 ...
41     16047     115     104    8     10  1991                  28
40     16047     104     115    8     10  1991                  28
83     16401     115     104    8      6  1992                  29
82     16401     104     115    8      6  1992                  29
113    16410     115     104   20     11  1992                  30
112    16410     104     115   20     11  1992                  30
103    16396     115     104   23     11  1992                  31
102    16396     104     115   23     11  1992                  31
108    16762     104     115    3      3  1993                  32
109    16762     115     104    3      3  1993                  32
73     16764     115     104   30      4  1993                  33
72     16764     104     115   30      4  1993                  33
78     17126     104     115    8     12  1994                  34
79     17126     115     104    8     12  1994                  34
117    17490     115     104   31      5  1995                  35
116    17490     104     115   31      5  1995                  35
99     17498     115     104   31      8  1995                  36
98     17498     104     115   31      8  1995                  36
104    17502     104     115   15     12  1995                  37
105    17502     115     104   15     12  1995                  37
89     17859     115     104    7      2  1996                  38
88     17859     104     115    7      2  1996                  38
101    20006     115     104    8      1  1997                  39
100    20006     104     115    8      1  1997                  39
110    20368     104     115    5      6  1998                  40
111    20368     115     104    5      6  1998                  40
87     20371     115     104   27     10  1998                  41
86     20371     104     115   27     10  1998                  41
46     20749     104     115   24     11  1999                  42
47     20749     115     104   24     11  1999                  42

[118 rows x 7 columns]

In [181]:
df5=return_sat_together_count(df4)