In [1]:
import pandas as pd
vot=pd.read_stata('Votelevel_stuffjan2013.dta')
print vot.shape

(56403, 868)

In [2]:
# here I try to make a sparse dataframe to represent each judge's alignment, now just the first 10th cases
record=[]
for i in range(10):
    temp=dict()
    temp['casenum']=vot.ix[i][0]     #record case id
    temp[vot.ix[i][383]]=1           #first judge alignment, always 1 
    if vot.ix[i][159]==1:           #second judge alignment
        temp[vot.ix[i][156]]=1
    else:               
        temp[vot.ix[i][156]]=-1
    if vot.ix[i][164]==1:           #third judge alignment
        temp[vot.ix[i][161]]=1
    else:
        temp[vot.ix[i][161]]=-1
    record.append(temp)
    
#print record
testlist=pd.DataFrame(record)

In [3]:
print testlist

   NaN  103.0  110.0  111.0  115.0  116.0  203.0  305.0  307.0  NaN   ...     \
0    1    NaN    NaN    NaN    NaN    NaN    NaN      1      1  NaN   ...
1  NaN      1    NaN    NaN    NaN      1    NaN    NaN    NaN    1   ...
2  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  NaN   ...
3  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  NaN   ...
4  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  NaN   ...
5  NaN    NaN      1      1    NaN    NaN    NaN    NaN    NaN  NaN   ...
6  NaN    NaN    NaN    NaN      1    NaN    NaN    NaN    NaN  NaN   ...
7  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  NaN   ...
8  NaN    NaN    NaN    NaN    NaN    NaN      1    NaN    NaN  NaN   ...
9  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  NaN   ...

   NaN  NaN  NaN  903.0  911.0  NaN  NaN  817.0  20827.0  casenum
0  NaN  NaN  NaN    NaN    NaN  NaN  NaN    NaN      NaN    12954
1  NaN  NaN  NaN    NaN    NaN  NaN  NaN    NaN      NaN    14244
2  NaN  NaN  NaN    NaN    NaN  NaN  NaN    NaN      NaN     4900
3  NaN  NaN  NaN    NaN    NaN  NaN  NaN    NaN      NaN     6449
4  NaN  NaN  NaN    NaN    NaN  NaN  NaN    NaN      NaN      579
5    1  NaN  NaN    NaN    NaN  NaN  NaN    NaN      NaN    12752
6  NaN    1  NaN    NaN    NaN  NaN  NaN    NaN      NaN    21722
7  NaN  NaN    1     -1     -1  NaN  NaN    NaN      NaN     9045
8  NaN  NaN  NaN    NaN    NaN    1  NaN    NaN      NaN      417
9  NaN  NaN  NaN    NaN    NaN  NaN    1      1        1    14835

[10 rows x 31 columns]

In [4]:
print testlist.fillna(value=0).reindex(index=testlist['casenum'],columns=list(testlist.columns[:-1])) ### all null result

         NaN      103     110     111     115     116     203     305    \
casenum
12954       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
14244       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4900        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
6449        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
579         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
12752       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
21722       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9045        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
417         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
14835       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

          307    NaN      ...     837    NaN     NaN     NaN      903    \
casenum                   ...
12954       NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
14244       NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
4900        NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
6449        NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
579         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
12752       NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
21722       NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
9045        NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
417         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
14835       NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN

          911    NaN     NaN      817     20827
casenum
12954       NaN     NaN     NaN     NaN     NaN
14244       NaN     NaN     NaN     NaN     NaN
4900        NaN     NaN     NaN     NaN     NaN
6449        NaN     NaN     NaN     NaN     NaN
579         NaN     NaN     NaN     NaN     NaN
12752       NaN     NaN     NaN     NaN     NaN
21722       NaN     NaN     NaN     NaN     NaN
9045        NaN     NaN     NaN     NaN     NaN
417         NaN     NaN     NaN     NaN     NaN
14835       NaN     NaN     NaN     NaN     NaN

[10 rows x 30 columns]

In [5]:
vot.groupby('j3maj1').sum()   ## the values take more than 1 or 2, but 3,4,5

,casenum,year,month,day,vol,beginpg,endopin,endpage,multdoc,method,...,posdole,totald,totalc,conclint,negclint,posclint,totcon,totneg,totpos,total
j3maj1,,,,,,,,,,,,,,,,,,,,,
0,62676,5997,36,24,9594,537,600,615,3,3,...,12276,85936,112740,73760,31003,7977,86849,91574,20253,198676
1,493835073,93871662,301047,741261,42095535,28558686,28768482,28757739,13485,73869,...,52946908,358217194,458517001,300445758,128422522,29648721,353680546,380458020,82595629,816734195
2,35434650,6816738,22089,54852,3648666,2178357,2201766,2210388,1230,4935,...,3334051,22754200,29050381,19042438,8127991,1879952,22422578,24168000,5214003,51804581
3,4682436,443916,1368,3135,711303,155709,160551,158286,294,360,...,310403,2109153,2698550,1769210,753722,175618,2084366,2237316,486021,4807703
4,66033,6006,15,63,9927,3867,3870,3873,3,3,...,11476,78681,101506,65834,28584,7088,77568,84055,18564,180187
5,190452,17997,48,45,28776,8295,8352,8352,9,9,...,24706,166946,213495,139353,59462,14680,164192,176863,39386,380441