In [88]:
import pandas as pd
import numpy as np
from copy import deepcopy
print np.NaN

nan

In [38]:
builtlist=[{'casenum':10, 'j1':111,'j1maj':2,'j2':123,'j2maj':1,'j3':135,'j3maj':2,'more':030/234},
           {'casenum':10, 'j1':131,'j1maj':2,'j2':13,'j2maj':1,'j3':135,'j3maj':2,'more':234/123},
           {'casenum':12, 'j1':np.nan,'j1maj':1,'j2':111,'j2maj':2,'j3':133,'j3maj':1,'more':124/1333}, 
           {'casenum':14, 'j1':111,'j1maj':1,'j2':133,'j2maj':1,'j3':42,'j3maj':4,'more':124/13}]

In [11]:
{'casenum':1, 11:2,10:1,135:2,'more':234/123}.has_key(10)

True

In [12]:
10 in {'casenum':1, 11:2,10:1,135:2,'more':234/123}

True

In [41]:
test=pd.DataFrame(builtlist)

In [42]:
#test=test.fillna(value=0)
print test

   casenum   j1  j1maj   j2  j2maj   j3  j3maj  more
0       10  111      2  123      1  135      2     0
1       10  131      2   13      1  135      2     1
2       12  NaN      1  111      2  133      1     0
3       14  111      1  133      1   42      4     9

In [49]:
print test[(test.casenum==10)].ix[0].j1

111.0

In [23]:
caseList=[]
for i in range(test.shape[0]):
    if test.ix[i]["casenum"] not in caseList:
        caseList.append(test.ix[i]["casenum"])
print caseList

[10.0, 12.0, 14.0]

In [81]:
caserecord=[]
for case in caseList:
    judgerecord=dict()
    subtest=test[test.casenum==case].reset_index(drop=True)
    num=subtest.shape[0]
    for j in range(num):
        if  (subtest.ix[j].j1 not in judgerecord) & pd.notnull(subtest.ix[0].j1):  
            judgerecord[subtest.ix[j].j1]=subtest.ix[j].j1maj
        if  (subtest.ix[j].j2 not in judgerecord) & pd.notnull(subtest.ix[0].j2):  
            judgerecord[subtest.ix[j].j2]=subtest.ix[j].j2maj
        if  (subtest.ix[j].j3 not in judgerecord) & pd.notnull(subtest.ix[0].j3):  
            judgerecord[subtest.ix[j].j3]=subtest.ix[j].j3maj
    caserecord.append(judgerecord)
print caserecord

[{13.0: 1.0, 123.0: 1.0, 135.0: 2.0, 131.0: 2.0, 111.0: 2.0}, {133.0: 1.0, 111.0: 2.0}, {42.0: 4.0, 133.0: 1.0, 111.0: 1.0}]

In [89]:
accumulate=[]

for cell in caserecord:
    for k in cell:
        celltem=deepcopy(cell)
        celltem.pop(k)
        accumulate.append(celltem)
print accumulate

[{111.0: 2.0, 131.0: 2.0, 135.0: 2.0}, {111.0: 2.0, 123.0: 1.0, 131.0: 2.0}, {111.0: 2.0, 123.0: 1.0, 135.0: 2.0}, {123.0: 1.0, 131.0: 2.0, 135.0: 2.0}, {111.0: 2.0}, {133.0: 1.0}, {133.0: 1.0, 111.0: 1.0}, {42.0: 4.0, 111.0: 1.0}, {42.0: 4.0, 133.0: 1.0}]

In [90]:
print pd.DataFrame(accumulate)

   42   111  123  131  133  135
0  NaN    2  NaN    2  NaN    2
1  NaN    2    1    2  NaN  NaN
2  NaN    2    1  NaN  NaN    2
3  NaN  NaN    1    2  NaN    2
4  NaN    2  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN    1  NaN
6  NaN    1  NaN  NaN    1  NaN
7    4    1  NaN  NaN  NaN  NaN
8    4  NaN  NaN  NaN    1  NaN

In [ ]:
### new try

In [99]:
caserecord=[]
newframe=pd.DataFrame()
for case in caseList:
    judgerecord=dict()
    subtest=test[test.casenum==case].reset_index(drop=True)
    num=subtest.shape[0]
    for j in range(num):
        if  (subtest.ix[j].j1 not in judgerecord) & pd.notnull(subtest.ix[0].j1):  
            judgerecord[subtest.ix[j].j1]=subtest.ix[j].j1maj
        if  (subtest.ix[j].j2 not in judgerecord) & pd.notnull(subtest.ix[0].j2):  
            judgerecord[subtest.ix[j].j2]=subtest.ix[j].j2maj
        if  (subtest.ix[j].j3 not in judgerecord) & pd.notnull(subtest.ix[0].j3):  
            judgerecord[subtest.ix[j].j3]=subtest.ix[j].j3maj
    caserecord.append(judgerecord)
    for k in range(len(judgerecord)):
        newframe=newframe.append(subtest.ix[0])
print newframe    
#print caserecord

   casenum   j1  j1maj   j2  j2maj   j3  j3maj  more
0       10  111      2  123      1  135      2     0
0       10  111      2  123      1  135      2     0
0       10  111      2  123      1  135      2     0
0       10  111      2  123      1  135      2     0
0       10  111      2  123      1  135      2     0
0       12  NaN      1  111      2  133      1     0
0       12  NaN      1  111      2  133      1     0
0       14  111      1  133      1   42      4     9
0       14  111      1  133      1   42      4     9
0       14  111      1  133      1   42      4     9

In [106]:
newframe=newframe.reset_index()
print newframe

   index  casenum   j1  j1maj   j2  j2maj   j3  j3maj  more
0      0       10  111      2  123      1  135      2     0
1      0       10  111      2  123      1  135      2     0
2      0       10  111      2  123      1  135      2     0
3      0       10  111      2  123      1  135      2     0
4      0       10  111      2  123      1  135      2     0
5      0       12  NaN      1  111      2  133      1     0
6      0       12  NaN      1  111      2  133      1     0
7      0       14  111      1  133      1   42      4     9
8      0       14  111      1  133      1   42      4     9
9      0       14  111      1  133      1   42      4     9

In [100]:
accumulate=[]

for cell in caserecord:
    for k in cell:
        celltem=deepcopy(cell)
        celltem.pop(k)
        accumulate.append(celltem)
print accumulate

[{111.0: 2.0, 123.0: 1.0, 131.0: 2.0, 135.0: 2.0}, {111.0: 2.0, 131.0: 2.0, 13.0: 1.0, 135.0: 2.0}, {111.0: 2.0, 123.0: 1.0, 131.0: 2.0, 13.0: 1.0}, {111.0: 2.0, 123.0: 1.0, 13.0: 1.0, 135.0: 2.0}, {123.0: 1.0, 131.0: 2.0, 13.0: 1.0, 135.0: 2.0}, {111.0: 2.0}, {133.0: 1.0}, {133.0: 1.0, 111.0: 1.0}, {42.0: 4.0, 111.0: 1.0}, {42.0: 4.0, 133.0: 1.0}]

In [102]:
accumulate=pd.DataFrame(accumulate)
print accumulate

   13   42   111  123  131  133  135
0  NaN  NaN    2    1    2  NaN    2
1    1  NaN    2  NaN    2  NaN    2
2    1  NaN    2    1    2  NaN  NaN
3    1  NaN    2    1  NaN  NaN    2
4    1  NaN  NaN    1    2  NaN    2
5  NaN  NaN    2  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN    1  NaN
7  NaN  NaN    1  NaN  NaN    1  NaN
8  NaN    4    1  NaN  NaN  NaN  NaN
9  NaN    4  NaN  NaN  NaN    1  NaN

In [111]:
final = newframe.join(accumulate)

In [120]:
final=final.fillna(value=0)

In [121]:
final.drop(['j1','j2','j3','j1maj','j2maj','j3maj'],1)

   index  casenum  more  13.0  42.0  111.0  123.0  131.0  133.0  135.0
0      0       10     0     0     0      2      1      2      0      2
1      0       10     0     1     0      2      0      2      0      2
2      0       10     0     1     0      2      1      2      0      0
3      0       10     0     1     0      2      1      0      0      2
4      0       10     0     1     0      0      1      2      0      2
5      0       12     0     0     0      2      0      0      0      0
6      0       12     0     0     0      0      0      0      1      0
7      0       14     9     0     0      1      0      0      1      0
8      0       14     9     0     4      1      0      0      0      0
9      0       14     9     0     4      0      0      0      1      0