In [2]:
import pandas as pd

In [ ]:
df = pd.read_stata('data/Votelevel_stuffjan2013.dta')

In [6]:
print 3 * len(pd.unique(df.casenum))

df.shape

55758

(56403, 868)

In [10]:
df.casenum[1]

14244.0

In [9]:
df = pd.read_csv('data/merged_caselevel_data.csv', low_memory=False)

In [10]:
pd.unique(df.year)

array([1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978,
       1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967,
       1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956,
       1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948, 1947, 1946, 1945,
       1944, 1943, 1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934,
       1933, 1932, 1931, 1930, 1929, 1928, 1927, 1926, 1925, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002])